@import url(global.css);

:root {
    
    --gap: 50px;
    --border-radius: 15px; /* Added border-radius variable */
    --grid-item-width: 700px
}





#text1 {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 65px auto 50px;
}

#projects-container {
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, var(--grid-item-width));
    gap: var(--gap);
    padding-bottom: var(--gap);

}

.grid-item {
    background-color: transparent;
    border: 1px solid var(--border-color);
    display: grid;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: var(--grid-item-width);
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: var(--border-radius); /* Rounded corners */

}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-image{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    border-top-left-radius: var(--border-radius); /* Rounded top corners */
    border-top-right-radius: var(--border-radius); /* Rounded top corners */
}



.project-text {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    font-size: 24px;
    border-bottom-left-radius: var(--border-radius); /* Rounded bottom corners */
    border-bottom-right-radius: var(--border-radius); /* Rounded bottom corners */

    height: 100%;
    width: 100%;

}

.project-text > * {
    margin: 15px; /* Remove default margin */

}



footer a img:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius); /* Rounded corners */
}

a{
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    #header {
        font-size: 40px;
        height: 300px;
    }

    #text1 {
        font-size: 30px;
        margin: 40px auto 30px;
    }

    #projects-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
    }

    .grid-item {
        height: 400px;
    }

    .project-text {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #header {
        font-size: 30px;
        height: 200px;
    }

    #text1 {
        font-size: 24px;
        margin: 30px auto 20px;
    }

    #projects-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .grid-item {
        height: 300px;
    }

    .project-text {
        font-size: 18px;
    }
}